body{
    background-color: #212121;
    color: white;
}
.center{
    display: flexbox;
    justify-content: center;
    margin: 40vh;
    flex-direction: column;
    margin-left: 90vh;
}

#span{
    background-color: orangered;
    color: white;
    padding: 10px;
    border-radius: 35px;
}