body{
    background-color: #212121;
    color: white;
    display: flex;
    font-size:28px;
        justify-content: center;
        margin-top: 130px;

}

.center{
    display: flexbox;
    justify-content: center;
}

button{
    padding: 15px;
    border-radius: 15px;
    background-color: orangered;
}

input[type=text]{
    padding: 15px;
}